<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="include :: header('客户详情')"/>
    <th:block th:include="include :: datetimepicker-css"/>
</head>
<body class="white-bg">
<input id="userId" name="userId" type="hidden" th:value="${ymswCustomer.customerId}"/>
<!--<section class="section-content">-->
    <div class="ibox-content">
        <div class="form-inline">
            <div class="form-group">
                <label for="exampleInputName2">姓名：</label>
                <input type="text" class="form-control" id="exampleInputName2" readonly th:value="${ymswCustomer.customerName}">
            </div>
            <div class="form-group" style="margin-left: 20px">
                <label for="exampleInputEmail2">手机：</label>
                <input type="text" class="form-control" id="exampleInputEmail2" readonly th:value="${ymswCustomer.customerPhone}">
            </div>
            <div class="form-group" style="margin-left: 20px">
                <label for="exampleInputEmail2">性别：</label>
                <input type="text" class="form-control" id="exampleInputEmail2" readonly th:with="sex=${ymswCustomer.customerSex}" th:value="${@dict.getLabel('sys_user_sex', sex)}">
            </div>
            <div class="form-group" style="margin-left: 20px">
                <label for="exampleInputEmail2">年龄：</label>
                <input type="text" class="form-control" id="exampleInputEmail2" readonly th:value="${ymswCustomer.customerBirth}">
            </div>
            <div class="form-group" style="margin-left: 20px">
                <label for="exampleInputEmail2">额度（万）：</label>
                <input type="text" class="form-control" id="exampleInputEmail2" readonly th:value="${ymswCustomer.customerQuota}">
            </div>
        </div><hr>
        <div>
            <form class="form-inline" id="form-main-edit" th:object="${ymswCustomer}">
                <input name="customerId" th:field="*{customerId}" type="hidden">
                    <div class="input-group col-xs-2">
                        <div class="input-group-addon" style="background-color: #efefef;">星级</div>
                        <select name="customerStar" class="form-control" th:with="type=${@dict.getType('customer_star')}">
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{customerStar}"></option>
                        </select>
                    </div>

                    <div class="input-group col-xs-2" style="margin-left: 20px">
                        <div class="input-group-addon" style="background-color: #efefef;">状态：</div>
                        <select name="customerStatus" class="form-control"
                                th:with="type=${@dict.getType('customer_status')}">
                            <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{customerStatus}"></option>
                        </select>
                    </div>

                <div class="input-group col-xs-2" style="margin-left: 20px">
                    <div class="input-group-addon" style="background-color: #efefef;">职业：</div>
                    <select name="customerOccupation" class="form-control"
                            th:with="type=${@dict.getType('customer_occupation')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{customerOccupation}"></option>
                    </select>
                </div>
                <div class="input-group col-xs-2" style="margin-left: 20px">
                    <div class="input-group-addon" style="background-color: #efefef;">渠道：</div>
                    <select name="customerSalary" class="form-control"
                            th:with="type=${@dict.getType('customer_salary')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{customerSalary}"></option>
                    </select>
                </div>
                <div class="input-group col-xs-2" style="margin-left: 20px">
                    <div class="input-group-addon" style="background-color: #efefef;">薪资：</div>
                    <select name="customerSalary" class="form-control"
                            th:with="type=${@dict.getType('customer_salary')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{customerSalary}"></option>
                    </select>
                </div>
                <div style="margin-top: 10px">
                    <div class="input-group">
                            <label class="checkbox-inline check-box"><input type="checkbox" value="1" name="hasHouse">房</label>
                            <label class="checkbox-inline check-box"><input type="checkbox" value="1" name="hasCar">车</label>
                            <label class="checkbox-inline check-box"><input type="checkbox" value="1" name="hasSocial">社保</label>
                            <label class="checkbox-inline check-box"><input type="checkbox" value="1" name="hasWarranty">保单</label>
                            <label class="checkbox-inline check-box"><input type="checkbox" value="1" name="hasCreditCard">信用卡</label>
                            <label class="checkbox-inline check-box"><input type="checkbox" value="1" name="hasAccumulation">公积金</label>
                            <label class="checkbox-inline check-box"><input type="checkbox" value="1" name="hasWeilidai">微粒贷</label>
                            <label class="checkbox-inline check-box"><input type="checkbox" value="1" name="hasWeilidai">逾期</label>
                    </div>
                </div>
            </form>
        </div>
        <hr>
    </div>
<!--</section>-->

<th:block th:include="include :: footer"/>
<th:block th:include="include :: datetimepicker-js"/>
<script type="text/javascript">
    var prefix = ctx + "customer/main";
    $("#form-main-edit").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-main-edit').serialize());
        }
    }

    $("input[name='customerBirth']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='applyTime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='remarkTime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='distributeTime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });
</script>
</body>
</html>