<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('客户信息表列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>姓名：</p>
                                <input type="text" name="customerName"/>
                            </li>
                            <li>
                                <p>性别 0男 1女 2未知：</p>
                                <select name="customerSex" th:with="type=${@dict.getType('sys_user_sex')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <p>手机号：</p>
                                <input type="text" name="customerPhone"/>
                            </li>
                            <li>
                                <p>客户状态0新申请1待跟进2已邀约3已签约4已放款5已拒绝6资质不符7捣乱申请8外地申请9黑名单：</p>
                                <select name="customerStatus" th:with="type=${@dict.getType('customer_status')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li class="select-time">
                                <p>出生日期：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginCustomerBirth]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endCustomerBirth]"/>
                            </li>
                            <li>
                                <p>额度(万)：</p>
                                <input type="text" name="customerQuota"/>
                            </li>
                            <li class="select-time">
                                <p>申请时间：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginApplyTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endApplyTime]"/>
                            </li>
                            <li>
                                <p>客户类型1 新客户2 再分配客户：</p>
                                <select name="customerType" th:with="type=${@dict.getType('customer_type')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <p>部门id：</p>
                                <input type="text" name="deptId"/>
                            </li>
                            <li>
                                <p>用户id：</p>
                                <input type="text" name="userId"/>
                            </li>
                            <li>
                                <p>职业1上班2 做生意3 未知：</p>
                                <select name="customerOccupation" th:with="type=${@dict.getType('customer_occupation')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <p>薪资方式1代发2转账3现金4未知：</p>
                                <select name="customerSalary" th:with="type=${@dict.getType('customer_salary')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <p>null：</p>
                                <input type="text" name="channel"/>
                            </li>
                            <li class="select-time">
                                <p>null：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginRemarkTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endRemarkTime]"/>
                            </li>
                            <li class="select-time">
                                <p>null：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginDistributeTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endDistributeTime]"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="customer:main:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="customer:main:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="customer:main:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="customer:main:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('customer:main:edit')}]];
        var removeFlag = [[${@permission.hasPermi('customer:main:remove')}]];
        var customerSexDatas = [[${@dict.getType('sys_user_sex')}]];
        var customerStatusDatas = [[${@dict.getType('customer_status')}]];
        var customerTypeDatas = [[${@dict.getType('customer_type')}]];
        var customerOccupationDatas = [[${@dict.getType('customer_occupation')}]];
        var customerSalaryDatas = [[${@dict.getType('customer_salary')}]];
        var prefix = ctx + "customer/main";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "客户信息表",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'customerId', 
                    title : 'id编号',
                    visible: false
                },
                {
                    field : 'customerName', 
                    title : '姓名'
                },
                {
                    field : 'customerSex', 
                    title : '性别 0男 1女 2未知',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(customerSexDatas, value);
                    }
                },
                {
                    field : 'customerPhone', 
                    title : '手机号'
                },
                {
                    field : 'customerStatus', 
                    title : '客户状态0新申请1待跟进2已邀约3已签约4已放款5已拒绝6资质不符7捣乱申请8外地申请9黑名单',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(customerStatusDatas, value);
                    }
                },
                {
                    field : 'customerBirth', 
                    title : '出生日期'
                },
                {
                    field : 'customerQuota', 
                    title : '额度(万)'
                },
                {
                    field : 'applyTime', 
                    title : '申请时间'
                },
                {
                    field : 'hasHouse', 
                    title : '有无房0无1有2 未知'
                },
                {
                    field : 'hasCar', 
                    title : '有无车0无1有2 未知'
                },
                {
                    field : 'hasWarranty', 
                    title : '有无保单0无1有2 未知'
                },
                {
                    field : 'hasWeilidai', 
                    title : '微粒贷0无1有2未知'
                },
                {
                    field : 'hasCreditCard', 
                    title : '信用卡0无1有2未知'
                },
                {
                    field : 'hasAccumulation', 
                    title : '公积金0无1有2未知'
                },
                {
                    field : 'isOverdue', 
                    title : '逾期0无1有2未知'
                },
                {
                    field : 'customerType', 
                    title : '客户类型1 新客户2 再分配客户',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(customerTypeDatas, value);
                    }
                },
                {
                    field : 'deptId', 
                    title : '部门id'
                },
                {
                    field : 'userId', 
                    title : '用户id'
                },
                {
                    field : 'customerOccupation', 
                    title : '职业1上班2 做生意3 未知',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(customerOccupationDatas, value);
                    }
                },
                {
                    field : 'customerSalary', 
                    title : '薪资方式1代发2转账3现金4未知',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(customerSalaryDatas, value);
                    }
                },
                {
                    field : 'channel', 
                    title : 'null'
                },
                {
                    field : 'remarkTime', 
                    title : 'null'
                },
                {
                    field : 'distributeTime', 
                    title : 'null'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.customerId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.customerId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>