<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('客户信息表列表')" />
    <style>
        #bootstrap-table>thead>tr {background-color: #dd4b39;color: white;}
    </style>
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId" class="form-inline">
                    <div class="row">
                        <div class="input-group col-xs-2 col-xs-offset-1" style="margin-left: 5px">
                            <div class="input-group-addon " style="background-color: #efefef;width: 120px">星级</div>
                            <select name="customerStar" th:with="type=${@dict.getType('customer_star')}" class="form-control">
                                <option value="">-不限-</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </div>
                        <div class="input-group col-xs-2 col-xs-offset-1">
                            <div class="input-group-addon " style="background-color: #efefef;width: 120px">客户类型</div>
                            <select name="customerType" th:with="type=${@dict.getType('customer_type')}" class="form-control">
                                <option value="">-不限-</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </div>

                        <div class="input-group col-xs-2 col-xs-offset-1">
                            <div class="input-group-addon " style="background-color: #efefef;width: 120px">客户状态</div>
                            <select name="customerStatus" th:with="type=${@dict.getType('customer_status')}" class="form-control">
                                <option value="">-不限-</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </div>
                        <div class="input-group col-xs-2 col-xs-offset-1">
                            <div class="input-group-addon " style="background-color: #efefef;width: 120px">未跟进天数</div>
                            <select name="params[noDays]" th:with="type=${@dict.getType('customer_no_days')}" class="form-control">
                                <option value="">-不限-</option>
                                <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                            </select>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="input-group col-xs-2" style="margin-left: 5px">
                            <div class="input-group-addon" style="background-color: #efefef;width: 120px">姓名</div>
                            <input type="text" class="form-control" name="customerName">
                        </div>
                        <div class="input-group col-xs-2 col-xs-offset-1">
                            <div class="input-group-addon" style="background-color: #efefef;width: 120px">手机号</div>
                            <input type="text" class="form-control" name="customerPhone">
                            <!--                            </div>-->
                        </div>
                        <div class="input-group col-xs-2 col-xs-offset-1">
                            <div class="input-group-addon" style="background-color: #efefef;width: 120px">最后备注开始</div>
                            <input type="text" class="time-input form-control" id="startTime" name="params[beginRemarkTime]" />
                        </div>
                        <div class="input-group col-xs-2 col-xs-offset-1">
                            <div class="input-group-addon" style="background-color: #efefef;width: 120px">最后备注结束</div>
                            <input type="text" class="time-input form-control" id="endTime" name="params[endRemarkTime]"/>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="checkbox check-box" style="margin-left: 5px">
                            <input type="checkbox" name="hasCar" value="1"> <i></i>房
                        </div>
                        <div class="checkbox check-box">
                            <input type="checkbox" name="hasHouse" value="1"> <i></i>车
                        </div>
                        <div class="checkbox check-box">
                            <input type="checkbox" name="hasWarranty" value="1"> <i></i>保单
                        </div>
                        <div class="checkbox check-box">
                            <input type="checkbox" name="hasSocial" value="1"> <i></i>社保
                        </div>
                        <div class="checkbox check-box">
                            <input type="checkbox" name="hasWeilidai" value="1"> <i></i>微粒贷
                        </div>
                        <div class="checkbox check-box">
                            <input type="checkbox" name="hasAccumulation" value="1"> <i></i>公积金
                        </div>
                        <div class="checkbox check-box">
                            <input type="checkbox" name="customerSalary" value="1"> <i></i>代发工资
                        </div>
                        <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                    </div>
                </form>
            </div>
            <!--<div class="col-sm-12 search-collapse">
                <form id="formId" class="form-horizontal">
                    <div class="select-list">
                        <ul>
                            <li>
                                <input type="text" name="customerName" placeholder="姓名" class="input-lg"/>
                            </li>
                            <li>
                                <input type="text" name="customerPhone" placeholder="手机号" style="margin-left: 100px"  class="input-lg"/>
                            </li>
                            <li>
                                <select name="customerStatus" th:with="type=${@dict.getType('customer_status')}" style="margin-left: 100px">
                                    <option value="">客户状态</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <select name="customerStar" th:with="type=${@dict.getType('customer_star')}" style="margin-left: 100px">
                                    <option value="">星级</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <select name="params[noDays]" th:with="type=${@dict.getType('customer_no_days')}" style="margin-left: 100px">
                                    <option value="">未跟进天数</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <select name="customerType" th:with="type=${@dict.getType('customer_type')}">
                                    <option value="">所有客户</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li class="select-time">
                                <input type="text" class="time-input" id="startTime" placeholder="最后备注开始" name="params[beginRemarkTime]"  style="margin-left: 100px"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="最后备注结束" name="params[endRemarkTime]"/>
                            </li>
                            <li>
                                <div>
                                    <div class="checkbox check-box" style="margin-left: 100px">
                                        <input type="checkbox" name="hasCar" value="1"> <i></i>房
                                    </div>
                                    <div class="checkbox check-box" style="margin-left: 30px">
                                        <input type="checkbox" name="hasHouse" value="1"> <i></i>车
                                    </div>
                                    <div class="checkbox check-box"style="margin-left: 30px">
                                        <input type="checkbox" name="hasWarranty" value="1"> <i></i>保单
                                    </div>
                                    <div class="checkbox check-box"style="margin-left: 70px">
                                        <input type="checkbox" name="hasSocial" value="1"> <i></i>社保
                                    </div>
                                    <div class="checkbox check-box"style="margin-left: 30px">
                                        <input type="checkbox" name="hasWeilidai" value="1"> <i></i>微粒贷
                                    </div>
                                    <div class="checkbox check-box"style="margin-left: 140px">
                                        <input type="checkbox" name="hasAccumulation" value="1"> <i></i>公积金
                                    </div>
                                    <div class="checkbox check-box"style="margin-left: 30px">
                                        <input type="checkbox" name="customerSalary" value="1"> <i></i>代发工资
                                    </div>
                                </div>
                            </li>
                            <li style="margin-left: 100px">
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
&lt;!&ndash;                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>&ndash;&gt;
                            </li>
                        </ul>
                    </div>
                </form>
            </div>-->

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-danger" onclick="$.operate.add()" shiro:hasPermission="customer:main:add">
                    <i class="fa fa-plus"></i> 新增客户
                </a>
                <a class="btn btn-danger" onclick="">
                    <i class="fa fa-plus"></i> 放入公共池
                </a>
                <a class="btn btn-danger" onclick="">
                    <i class="fa fa-plus"></i> 加入收藏夹
                </a>
                <!--<a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="customer:main:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="customer:main:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="customer:main:export">
                    <i class="fa fa-download"></i> 导出
                 </a>-->
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('customer:main:edit')}]];
        var removeFlag = [[${@permission.hasPermi('customer:main:remove')}]];
        var customerSexDatas = [[${@dict.getType('sys_user_sex')}]];
        var customerStatusDatas = [[${@dict.getType('customer_status')}]];
        var customerStarDatas = [[${@dict.getType('customer_star')}]];
        var prefix = ctx + "customer/main";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                striped: true,//隔行换色
                sortName: "distributeTime",
                sortOrder: "desc",
                showToggle: false,
                modalName: "客户信息表",
                onClickCell: function (field,value,row,$element) {  //点击姓名、性别、额度、年龄、状态单元格时进入编辑页面
                    if (field == 'customerName' || field == 'customerSex' || field == 'customerBirth' || field == 'customerQuota' || field == 'customerStatus') {
                        $.operate.editTab(row.customerId);
                    }
                },
                columns: [{
                    checkbox: true
                },
                {
                    field : 'customerId',
                    title : '编号',
                    halign: 'center',
                    align: 'center',
                    width: 80
                },
                {
                    field : 'customerName',
                    title : '姓名',
                    halign: 'center',
                    align: 'center',
                    width: 80
                },
                {
                    field : 'customerSex',
                    title : '性别',
                    halign: 'center',
                    align: 'center',
                    width: 80,
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(customerSexDatas, value);
                    }
                },
                {
                    field : 'customerBirth',
                    title : '年龄',
                    halign: 'center',
                    align: 'center',
                    width: 80,
                    formatter: function(value, row, index) {
                        var date = new Date();
                        return date.getFullYear()-value;
                    }
                },
                {
                    field : 'customerQuota',
                    title : '额度(万)',
                    halign: 'center',
                    align: 'center',
                    width: 80,
                },
                {
                    field : 'customerStar',
                    title : '星级',
                    halign: 'center',
                    align: 'center',
                    width: 80,
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(customerStarDatas, value);
                    }
                },
                {
                    field : 'customerStatus',
                    title : '客户状态',
                    halign: 'center',
                    align: 'center',
                    width: 140,
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(customerStatusDatas, value);
                    }
                },
                {
                    field : 'userName',
                    title : '归属顾问',
                    halign: 'center',
                    align: 'center',
                    width: 80,
                },
                {
                    field : '',
                    title : '备注',
                    halign: 'center',
                    align: 'left'
                },
                {
                    field : 'distributeTime',
                    title : '分配时间',
                    halign: 'center',
                    align: 'center',
                    width: 140,
                    sortable: true
                },
                {
                    field : 'remarkTime',
                    title : '备注时间',
                    halign: 'center',
                    align: 'center',
                    width: 140,
                    sortable: true
                },
                {
                    field : 'applyTime',
                    title : '申请时间',
                    halign: 'center',
                    align: 'center',
                    width: 140,
                    sortable: true
                },
                /*{
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.customerId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.customerId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }*/]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>